body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-scrollbar-track: {
    backgroundcolor: "transparent";
    margin-top: 10px;
    overflow: overlay;
  }
  .bg-tailwind {
    inset: 0px;
    position: fixed;
    z-index: -1;
  }
//   // Slick Add setup DisneyLand Paris
//   div {
//     .slick-track {
 
//    left: -212px;

// }
//     .slick-list {
//        padding: 30px 16% !important;
//     }
//   }
  .slick-slide:not(:last-child) {
    padding-inline-start: 12px;
  }
  .slick-slide:not(:first-child) {
    padding-inline-end: 12px;
  }
//   .slick-slide:not(.slick-active) {
//     opacity: 0.3;
//   }
//   .slick-slide {
     
//     // height: inherit !important;
//     // display: flex;
//     // -moz-box-pack: center;
//     // justify-content: center;
//     // transition: opacity 0.5s linear 0s;
//   }
  .slick-dots {
    display: flex !important;
    -moz-box-pack: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    li {
      display: flex;
      background-color: theme("backgroundColor.slate.500") ;
      height: 12px;
      width: 12px;
      border-radius: 8px;
      margin: 0px 4px;
      cursor: pointer;
      transition-duration: 300ms;
      transition-property: all;
      button {
        opacity: 0;
      }
    }
    .slick-active {
      width: 24px;
      background-color: theme("colors.primary");
    }
  }
}
.dark {
  .slick-dots {
    .slick-active {
      background-color: theme("colors.primaryDark");
    }
  }
 }
