@import "./body";
@import "./toastify";
@import "./homePage";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AmiriQuran";
  src: url("../fonts/AmiriQuran-Regular.ttf");
}
@font-face {
  font-family: "Mada";
  src: url("../fonts/Mada-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}